@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav__icon {
  font-weight: bolder;
  font-size: 40px;
  letter-spacing: 7px;
}

.nav__navLinks a {
  display: inline-block;
  margin-right: 50px;
  font-size: 19px;
  font-weight: 500;
  padding: 5px 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav__navLinks a:hover {
  background-color: black;
  color: white;
}

.nav__userLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__userLinks a {
  display: inline-block;
  margin-right: 30px;
  font-size: 19px;
  font-weight: 500;
  padding: 5px 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav__userLinks a:hover {
  background-color: black;
  color: white;
}

.nav__userLinks .nav__cartCount {
  margin-left: -7px;
  margin-top: 10px;
  background-color: red;
  position: absolute;
  font-size: 12px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: text-bottom;
  color: white;
}

.nav__userLinks .linkCartContainer {
  position: relative;
}

.nav__userLinks .linkCartContainer .cartContainer {
  display: none;
  padding: 0 20px;
  padding-top: 20px;
  -webkit-clip-path: polygon(0 2%, 46% 2%, 50% 0, 54% 2%, 100% 2%, 100% 100%, 0 100%);
          clip-path: polygon(0 2%, 46% 2%, 50% 0, 54% 2%, 100% 2%, 100% 100%, 0 100%);
  background-color: #f8f8f8;
  position: absolute;
  right: -9.8rem;
  z-index: 999;
  width: 23rem;
  height: 30rem;
}

.nav__userLinks .linkCartContainer .cartContainer h2 {
  margin: 0;
  margin-bottom: 10px;
}

.nav__userLinks .linkCartContainer .cartContainer a {
  margin-top: 10px;
  border: .5px solid black;
  text-align: center;
}

.nav__userLinks .linkCartContainer .cartContainer > div {
  height: 24rem;
  overflow-y: scroll;
}

.nav__userLinks .linkCartContainer .cartContainer > div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.nav__userLinks .linkCartContainer .cartContainer > div::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.nav__userLinks .linkCartContainer .cartContainer > div::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555;
}

.nav__userLinks .linkCartContainer .cartContainer > div > div {
  border-top: 0.5px solid lightgray;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__userLinks .linkCartContainer .cartContainer > div > div img {
  height: 10rem;
  width: 7rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav__userLinks .linkCartContainer .cartContainer > div > div > div {
  margin-left: 10px;
  margin-bottom: 10px;
}

.nav__userLinks .linkCartContainer .cartContainer > div > div > div h3,
.nav__userLinks .linkCartContainer .cartContainer > div > div > div p {
  margin: 0;
}

.nav__userLinks .linkCartContainer .cartContainer > div > div > div h3 {
  font-size: 1.3em;
}

.nav__userLinks .linkCartContainer .cartContainer > div > div > div p {
  font-size: 1.3em;
}

.nav__userLinks .linkCartContainer .cartContainer:hover {
  display: block;
}

.nav .myCart:hover ~ .cartContainer {
  display: block;
}

.wrapper {
  width: 1150px;
  margin: 0 auto;
}

.main {
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
  height: 60vh;
  width: inherit;
  margin: 0 auto;
}

.main__image {
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  position: absolute;
  opacity: 0.65;
}

.main__title {
  background-color: white;
  padding: 20px 50px;
}

.main__title h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 70px;
  letter-spacing: 20px;
  margin: 0;
  margin-right: -20px;
}

.main__title h5 {
  margin: 0;
  text-align: center;
  display: block;
  color: lightgray;
  font-size: 22px;
}

.category {
  margin: 0 auto;
  width: 100%;
  max-width: inherit;
  height: 100%;
  margin-top: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category a {
  text-decoration: none;
  width: 360px;
  height: 210px;
  display: inline-block;
  margin-bottom: 20px;
}

.category a .category__container {
  display: -ms-grid;
  display: grid;
  place-content: center;
  overflow: hidden;
  height: inherit;
  width: inherit;
}

.category a .category__container img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  height: inherit;
  width: inherit;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.category a .category__container div {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  padding: 5px 20px;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000));
  background-image: linear-gradient(#000, #000);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  -webkit-transition: background-size 0.3s, color 0.3s;
  transition: background-size 0.3s, color 0.3s;
}

.category a .category__container div h2 {
  margin: 0;
  color: black;
  font-weight: 400;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.category a:hover img {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.category a:hover div {
  background-size: 100% 100%;
}

.category a:hover div h2 {
  color: white !important;
}

.divider {
  margin: 0 auto;
  width: inherit;
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.divider div {
  border-bottom: 0.5px solid black;
  width: inherit;
  position: absolute;
  margin-top: 40px;
  z-index: -1;
}

.divider h2 {
  background-color: white;
  border: 2.5px solid black;
  display: inline-block;
  font-weight: 400;
  padding: 0 10px;
  -webkit-box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.54);
          box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.54);
  z-index: 101;
}

.latestItems {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.latestItems .latestItems__container {
  text-decoration: none;
  color: black;
  border: 0.5px solid lightgray;
  width: 360px;
  margin-bottom: 35px;
}

.latestItems .latestItems__container .imageContainer {
  height: 390px;
  width: 360px;
  overflow: hidden;
}

.latestItems .latestItems__container .imageContainer a img {
  height: 390px;
  width: 360px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
  z-index: -1;
  -webkit-transition: 1s;
  transition: 1s;
}

.latestItems .latestItems__container .imageContainer a:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
  -webkit-transition: -webkit-transform 3s cubic-bezier(0.1, 0.82, 0.05, 1.02);
  transition: -webkit-transform 3s cubic-bezier(0.1, 0.82, 0.05, 1.02);
  transition: transform 3s cubic-bezier(0.1, 0.82, 0.05, 1.02);
  transition: transform 3s cubic-bezier(0.1, 0.82, 0.05, 1.02), -webkit-transform 3s cubic-bezier(0.1, 0.82, 0.05, 1.02);
}

.latestItems .latestItems__container .itemDetails h1,
.latestItems .latestItems__container .itemDetails h4,
.latestItems .latestItems__container .itemDetails h3,
.latestItems .latestItems__container .itemPrice h1,
.latestItems .latestItems__container .itemPrice h4,
.latestItems .latestItems__container .itemPrice h3 {
  margin: 0;
}

.latestItems .latestItems__container .itemDetails .itemTitle {
  height: 100px;
  padding-top: 10px;
}

.latestItems .latestItems__container .itemDetails .itemTitle .itemName {
  font-size: 40px;
  line-height: 35px;
  margin: 0 10px;
  font-weight: 300;
}

.latestItems .latestItems__container .itemDetails .itemTitle .itemCategory {
  margin-left: 10px;
  font-weight: 400;
}

.latestItems .latestItems__container .itemDetails .itemPrice {
  border-top: 0.5px solid lightgray;
  height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.latestItems .latestItems__container .itemDetails .itemPrice h3 {
  font-size: 30px;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  margin: 0;
  text-align: center;
  padding: 10px 0;
  font-weight: 400;
}

.latestItems .latestItems__container .itemDetails .itemPrice span {
  color: #000;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000));
  background-image: linear-gradient(#000, #000);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  -webkit-transition: background-size 0.3s, color 0.3s;
  transition: background-size 0.3s, color 0.3s;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  margin: 0;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  padding: 10px 0;
}

.latestItems .latestItems__container .itemDetails .itemPrice span:hover {
  color: #fff;
  background-size: 100% 100%;
}

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop__filter {
  -webkit-box-flex: 0.27;
      -ms-flex: 0.27;
          flex: 0.27;
  padding: 15px;
}

.shop__filter .shop__categories {
  padding-bottom: 30px;
  margin-bottom: 100px;
  border-bottom: 0.5px solid lightgray;
}

.shop__filter .shop__categories h2 {
  margin-bottom: 50px;
}

.shop__filter .shop__filterBy--price {
  margin-bottom: 50px;
}

.shop__filter .shop__filterBy--price div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  padding: 0 10px;
}

.shop__filter .shop__filterBy--price small {
  font-size: 16px;
  padding: 0 10px;
}

.shop__filter .shop__filterBy--size, .shop__filter .shop__filterBy--brands {
  margin-bottom: 50px;
}

.shop__filteredItems {
  -webkit-box-flex: 0.9;
      -ms-flex: 0.9;
          flex: 0.9;
  padding: 15px 5px;
}

.shop__filteredItems .shop__filterOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop__filteredItems .shop__filterOptions h2 {
  margin: 0;
}

.shop__filteredItems .shop__filterOptions h2 span {
  color: red;
}

.shop__filteredItems .shop__filterOptions div * {
  display: inline-block !important;
  vertical-align: middle;
}

.shop__filteredItems .shop__filterOptions div select {
  width: 150px;
  max-width: 150px;
}

.shop__filteredItems .shop__filterOptions div span {
  cursor: pointer;
  font-size: 22px;
  margin-right: 10px;
}

.shop__filteredItems .shop__filterResults {
  margin-top: 30px;
}

.shop__filteredItems .shop__filterResults .filterDesignOne:nth-child(3n) {
  margin-right: 0;
}

.shop__filteredItems .shop__filterResults .filterDesignOne {
  margin-right: 5px;
  margin-bottom: 20px;
  border: 0.5px solid lightgray;
  height: 400px;
  max-width: 275px;
  display: inline-block;
  vertical-align: top;
}

.shop__filteredItems .shop__filterResults .filterDesignOne .itemImageContainer {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.shop__filteredItems .shop__filterResults .filterDesignOne .itemImageContainer a img {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop__filteredItems .shop__filterResults .filterDesignOne .itemImageContainer .addToCart {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  padding: 10px 12px;
  cursor: pointer;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000));
  background-image: linear-gradient(#000, #000);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  -webkit-transition: background-size 0.25s, color 0.25s;
  transition: background-size 0.25s, color 0.25s;
}

.shop__filteredItems .shop__filterResults .filterDesignOne .itemImageContainer .addToCart h1 {
  margin: 0;
  font-weight: 300;
  line-height: 30px;
  font-size: 50px;
}

.shop__filteredItems .shop__filterResults .filterDesignOne .itemImageContainer .addToCart:hover {
  color: white;
  background-size: 100% 100%;
}

.shop__filteredItems .shop__filterResults .filterDesignOne .itemImageContainer:hover .addToCart {
  display: block;
}

.shop__filteredItems .shop__filterResults .filterDesignOne .itemDetails {
  padding: 5px 10px;
}

.shop__filteredItems .shop__filterResults .filterDesignOne .itemDetails h2 {
  margin: 0;
  font-weight: 500;
}

.shop__filteredItems .shop__filterResults .filterDesignOne .itemDetails h3 {
  margin: 0;
  color: #909090;
}

.shop .shop__categories a,
.shop .shop__filterBy a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
  padding: 0 10px;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000));
  background-image: linear-gradient(#000, #000);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  -webkit-transition: background-size 0.25s, color 0.25s;
  transition: background-size 0.25s, color 0.25s;
}

.shop .shop__categories a h3,
.shop .shop__filterBy a h3 {
  font-weight: 400;
  margin: 0;
}

.shop .shop__categories a:hover,
.shop .shop__filterBy a:hover {
  color: white;
  background-size: 100% 100%;
}

.form-control:not(:last-child) {
  margin-right: 10px;
}

.form-control {
  height: 50px;
  border: none;
  border-bottom: 0.5px solid black;
  font-family: "Rajdhani", sans-serif;
  padding: 0 5px;
  outline: none;
  font-size: 18px;
  width: 100%;
}

.activeFilter {
  color: red !important;
}

footer {
  width: inherit;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 150px;
}

footer a,
footer h5 {
  text-decoration: none;
  color: black;
  font-size: 19px;
}

footer .break {
  border-bottom: 0.5px solid lightgray;
}

footer .icon {
  font-weight: bolder;
  font-size: 40px;
  letter-spacing: 7px;
}

footer .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 20px;
}

footer .details div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .details div a,
footer .details div h5 {
  margin-right: 20px;
}

footer .right_reserve p {
  text-align: center;
}

footer .right_reserve p span {
  font-weight: bolder;
}

@media screen and (max-width: 1149px) {
  .category,
  .latestItems {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper {
    width: 100%;
  }
  .main {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */